
<ng-template #content>
  <slot></slot>
</ng-template>


<button
  *ngIf="buttonStyling === 'basic'"
  mat-button
  class="sf-button"
  [class]="buttonSizeClass"
  [color]="buttonColor"
  [disabled]="disabled"
  [attr.aria-label]="ariaLabel"
  (click)="onClick.emit($event)"
>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</button>
<button
  *ngIf="buttonStyling === 'raised'"
  mat-raised-button
  class="sf-button"
  [class]="buttonSizeClass"
  [color]="buttonColor"
  [disabled]="disabled"
  [attr.aria-label]="ariaLabel"
  (click)="onClick.emit($event)"
>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</button>
<button
  *ngIf="buttonStyling === 'stroked'"
  mat-stroked-button
  class="sf-button"
  [class]="buttonSizeClass"
  [color]="buttonColor"
  [disabled]="disabled"
  [attr.aria-label]="ariaLabel"
  (click)="onClick.emit($event)"
>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</button>
<button
  *ngIf="buttonStyling === 'flat'"
  mat-flat-button
  class="sf-button"
  [class]="buttonSizeClass"
  [color]="buttonColor"
  [disabled]="disabled"
  [attr.aria-label]="ariaLabel"
  (click)="onClick.emit($event)"
>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</button>
<button
  *ngIf="buttonStyling === 'icon'"
  mat-icon-button
  class="sf-button"
  [class]="buttonSizeClass"
  [color]="buttonColor"
  [disabled]="disabled"
  [attr.aria-label]="ariaLabel"
  (click)="onClick.emit($event)"
>
  <ng-container *ngTemplateOutlet="content"></ng-container>

</button>
<button
  *ngIf="buttonStyling === 'circle'"
  mat-fab
  class="sf-button"
  [class]="buttonSizeClass"
  [color]="buttonColor"
  [disabled]="disabled"
  [attr.aria-label]="ariaLabel"
  (click)="onClick.emit($event)"
>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</button>
<button
  *ngIf="buttonStyling === 'mini-circle'"
  mat-mini-fab
  class="sf-button"
  [class]="buttonSizeClass"
  [color]="buttonColor"
  [disabled]="disabled"
  [attr.aria-label]="ariaLabel"
  (click)="onClick.emit($event)"
>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</button>
